<div class = "d-flex flex-column align-items-center" id = "alice">
  <div class="row justify-content-center align-items-center" id = "container-green">
    <div class="col-12 col-lg-6">
      <h2>Ciao! Sono Alice</h2>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
    <div class="col-12 col-lg-3">
      <%= image_tag "alice.jpg", class: "Alice", alt: "Alice" %>
    </div>
  </div>
  <a href="#yoga">
    <i class="fa-solid fa-arrow-down-long"></i>
  </a>
</div>
