<div class = "d-flex flex-column align-items-center" id = "alice">
<h2 id="Title_pos_relative">Ciao! Sono Alice</h2>
  <div class="row justify-content-center align-items-center" id = "container-green">
    <div class="col-12 col-lg-6">
      <p>"Pratico yoga dal 2015 e lo insegno dal 2020, dopo essermi certificata come insegnante di <b>Hatha Yoga e Vinyasa Yoga</b> al Centrolistico di Sesto San Giovanni, vicino a Milano.
          Insegno yoga online via Skype, sul mio <b>canale YouTube</b> e dal vivo presso la palestra 24/7Days di Monza. <br>
          Oltre ad insegnare yoga mi occupo di comunicazione per una multinazionale nel settore medicale.<br>
          In passato ho lavorato come insegnante di lingue e come guida turistica.<br>
          Sono appassionata di montagna e di natura in generale."
      </p>
    </div>
    <div class="col-12 col-lg-3 justify-content-center">
      <%= image_tag "Alice.jpg", class: "Alice", alt: "Immagine di Alice Gerelli" %>
    </div>
  </div>
  <a href="#yoga">
    <i class="fa-solid fa-arrow-down-long"></i>
  </a>
</div>
