<div class = "photo-grid" id = "gallery">
  <div class = "text-card">
    <h1>Gallery</h1>
    <p>Piccole Sfide, grandi soddisfazioni. Questa è un'equazione che mi piace molto. La applico al lavoro, alla montagna...e ovviamente allo Yoga</p>
    <a href="https://instagram.com/alice.gerelli.yoga?igshid=YmMyMTA2M2Y=" target="_blank">seguimi</a>
  </div>
  <div id = "stones">
  </div>
  <div class = "photo-card-double">
    <div id = "meditation">
    </div>
    <div id = "sun">
    </div>
  </div>
  <div id = "mountain">
  </div>
</div>
