<div class = "d-flex flex-column align-items-center" id = "yoga">
 <h2>Cos'è lo yoga per me</h2>
  <div class="row justify-content-center align-items-center" id = "container-orange">
    <div class="col-12 col-lg-3 d-flex flex-column align-items-center">
      <%= image_tag "uno.png", class: "avatar-large", alt: "uno" %>
      <h2>uno</h2>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
    </div>
    <div class="col-12 col-lg-3 d-flex flex-column align-items-center">
      <%= image_tag "due.png", class: "avatar-large", alt: "due" %>
       <h2>due</h2>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
    </div>
    <div class="col-12 col-lg-3 d-flex flex-column align-items-center">
      <%= image_tag "tre.png", class: "avatar-large", alt: "tre" %>
      <h2>tre</h2>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
    </div>
  </div>
</div>
