<div class = "d-flex flex-column align-items-center" id = "yoga">
 <h2>Cos'è lo yoga per me</h2>
  <div class="row justify-content-center align-items-center" id = "container-orange">
    <div class="col-12 col-lg-3 d-flex flex-column align-items-center">
      <%= image_tag "uno.png", class: "avatar-large", alt: "uno" %>
      <h2>movimento</h2>
      <p>"Da sempre impacciata e poco sportiva, lo yoga ha cambiato questa percezione di me facendomi riscoprire il piacere di muovermi"</p>
    </div>
    <div class="col-12 col-lg-3 d-flex flex-column align-items-center">
      <%= image_tag "due.png", class: "avatar-large", alt: "due" %>
       <h2>introspezione</h2>
       <p>"Non esiste la competizione: nello yoga osserviamo noi stessi, il nostro corpo, le sue sensazioni, la nostra mente e i nostri pensieri"</p>
    </div>
    <div class="col-12 col-lg-3 d-flex flex-column align-items-center">
      <%= image_tag "tre.png", class: "avatar-large", alt: "tre" %>
      <h2>serenità</h2>
      <p>"Lo yoga ci può fornire degli strumenti importanti per ritrovare benessere e serenità: oltre alla pratica di asana (pratica fisica), il pranayama (respirazione), gli yama e niyama (principi etici)."</p>
    </div>
  </div>
</div>
