<div class = "d-flex flex-column align-items-center" id = "youtube">
 <h2>youtube</h2>
  <div class="container">
    <div class="row row-cols-3">
      <div class="col-12 col-sm-6 col-lg-4 text-center video">
        <iframe src="https://www.youtube.com/embed/9wYYbr5AmlA" title="Halloween Yoga - Una pratica per Samahin e l'autunno" allowfullscreen>
        </iframe>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 text-center video">
         <iframe src="https://www.youtube.com/embed/5gCPC4YZAdk" title="YouTube video player" allowfullscreen></iframe>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 text-center video">
         <iframe src="https://www.youtube.com/embed/oTj2EExm7Os" title="YouTube video player" allowfullscreen></iframe>
      </div>
      <div class="d-none d-sm-block col-sm-6 col-lg-4 text-center video">
        <iframe src="https://www.youtube.com/embed/_DTjnKaMFZM" title="YouTube video player" allowfullscreen></iframe>
      </div>
      <div class="d-none d-sm-block  col-sm-6 col-lg-4 text-center video">
       <iframe src="https://www.youtube.com/embed/U5Itf5IRPdY" title="YouTube video player" allowfullscreen></iframe>
      </div>
      <div class="d-none d-sm-block col-sm-6 col-lg-4 text-center video">
        <iframe src="https://www.youtube.com/embed/NnSUnlmbHiM" title="YouTube video player"  allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <a href="https://www.youtube.com/channel/UCE_HlPqYtncdrbdl0OjbBfA" target="_blank">Il mio canale</a>
</div>
