<div class="footer">
  <div class="footer-copyright">
    <p>Alice Gerelli - alice.gerelli@gmail.com </p>
    <p>© Copyright - All right reserved</p>
  </div>
  <div class="footer-links">
    <a href="https://www.instagram.com/alice.gerelli.yoga/?igshid=YmMyMTA2M2Y%3D!" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCE_HlPqYtncdrbdl0OjbBfA!" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-skype"></i></a>
  </div>
</div>
