.banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(180deg, rgba(12, 63, 75, 0.6),rgba(12, 63, 75, 0) 95%), image-url("banner.jpeg");
  position: relative;
  padding: 150px 0;
}


.banner h1 {
  margin: 10px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  font-size: 50px;
  font-family: $headers-font;
}


.banner h3 {
  margin-top: 30px;
  color: $light-gray;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  max-width: 65ch;
  font-size: 20px;
  position: relative;
  bottom: -50px;
}

.banner a {
  font-size: 25px;
  text-decoration: none;
  color: white;
  margin-top: 10px;
  position: relative;
  bottom: -50px;
}
