.button-orange {
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px;
  background-color: #e6712984;
  color:black ;
}

.button-orange:hover {
  background-color: #e67129;
  color: black;
}
