.navbar-AliceYoga {
  z-index: 999;
  width: 100%;
  position: absolute;
  background-color: #41575d00;
  box-shadow: none;
  transition-property: background-color, font-size, transform, color;
  transition-timing-function: ease-in-out;
  transition-duration: 2s;
}

.navbar-AliceYoga:hover {
  background-color: #0f4d5c;
  transition-property: background-color, font-size, transform, color;
  transition-timing-function: ease-in-out;
  transition-duration: 2s;
}

.sticky-top{
  padding: 0px;
  z-index: 999;
  width: 100%;
  background-color: #0f4d5c;
  box-shadow: none;
  transition-property: background-color, font-size, transform, color;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

#margin-zero{
  padding: 0;
  margin: 0;
}

#navbar .navbar-collapse {
  flex-grow: 0;
}

#navbar .navbar-brand{
  margin: 0;
}

#navbar .navbar-brand img {
  width: 60px;
  margin: auto;
}

#navbar a {
  text-align: center;
  display: inline-block;
  width: 150px;
  margin: auto;
  font-family: $headers-font;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

#navbar a:hover {
  color: $orange;
}

.navbar-toggler {
  border: 0px;
  background-color: white;
}
