.navbar-AliceYoga {
  justify-content: space-between;
  z-index: 999;
  width: 100%;
  position: relative;
  background-color: #0f4d5c5f;
  box-shadow: none;
  transition-property: background-color, font-size, transform, color;
  transition-timing-function: ease-in-out;
  transition-duration: 2s;
}

.navbar-AliceYoga:hover {
  background-color: #0f4d5c;
  transition-property: background-color, font-size, transform, color;
  transition-timing-function: ease-in-out;
  transition-duration: 2s;
}

.navbar-AliceYoga-scroll{
  background-color: #0f4d5c;
}

.navbar-AliceYoga .navbar-collapse {
  flex-grow: 0;
}

.navbar-AliceYoga .navbar-brand{
  margin: 0;
}

.navbar-AliceYoga .navbar-brand img {
  width: 60px;
  margin: 0 20px;
}

.navbar-AliceYoga > .container-fluid {
display: flex;
margin: 0;
}

.navbar-AliceYoga a {
  margin: 0 40px;
  font-family: $headers-font;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.navbar-AliceYoga a:hover {
  color: $orange;
}

.navbar-toggler {
  border: 0px;
  background-color: white;
}
